*{
    padding:0;
    margin:0;
    font-size:40px;

}
.box-one{
    background-color: blue;
    border:0px dashed green;
    padding:20px;
    margin:20px;
    border-width: 20px;

}
.box-two{
    background-color: aqua;
    border:0px solid red;
}